@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Você não tem acesso permitido para essa Página, caso seja um professor e  tenha visto esta mensagem, nos atribua um 10 por favor. </p>
<br />
<br />
<a role="button" class="btn btn-outline-info"  asp-controller="Home" asp-action="Index">Clique para dar um 10</a>